body {
	display: flex;
	justify-content: center;
}

#login {
	min-width: 320px;
}

.item {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.error {
	color: tomato;
}

.success {
	color: seagreen;
}
